<%= form_tag(:action => "calculator") do %>
 <%= hidden_field_tag('un[un]', @username) %>
  <h1>x^y mod z Calculator</h1>
  <p>
    <b>x</b><br>
    <%= text_area(:data, "x", :value => @x, :style => "width:400px;height:130px") %>
    
    <br><br>
    
    <b>y</b><br>
    <%= text_area(:data, "y", :value => @y, :style => "width:400px;height:130px") %>
    
    <br><br>
    
    <b>z</b><br>
      <%= text_area(:data, "z", :value => @z, :style => "width:400px;height:130px") %>
  </p>
    <%= submit_tag("Submit") %>
    
    <h2>Answer</h2>
    <%= @answer %>
    <%= @error %>
<% end %>
