<%= form_tag(:action => "create") do %>
 <%= hidden_field_tag('un[un]', @username) %>
  [<%= link_to "Calculator", :action => "calculator"%>]
  <h1>Diffie Hellman</h1>
  <%= @error %>
  <h2>Part 1 - Intercepting vital information</h2>
  <p style="width:600px">
    After some clever hacking of the local router you are now in control of communications for the whole network at the workplace you have been
    infilitrating. Knowing that secret information will be passed on between party A - Alice, and party B - Bob; you've intercepted
    the first part of the Diffie-Hellman key exchange, namely the open exchange of <b>Prime P</b> and <b>Generator G</b> and find the following:
  </p>
  <p>
    <b>Prime P</b><br>
    <%= text_area(:data, :primeP, :value => @primeP, :style => "width:400px;height:130px", :readonly => "true") %>
    <br><br>
    
    <b>Generator G</b><br>
    <%= text_field(:data, :generatorG, :value => @generatorG, :style => "width:400px", :readonly => "true") %>  
  </p>
  
  <hr>
  
  <h2>Part 2 - Intercepting the key exchange</h2>
  <p style="width:600px">
    Knowing that Alice will now try to create a shared secret with Bob you intercept a message from Alice.
  </p>
    <b>Message from Alice</b><br>
    <%= text_area(:data, :keyPartAlice, :value => @keyPartAlice, :style => "width:400px;height:130px", :readonly => "true") %>
  
  <p style="width:600px">
    Likewize the next message sent is the one from Bob to Alice with the same puropose - to establish that shared secret.
  </p>
    <b>Message from Bob</b><br>
    <%= text_area(:data, :keyPartBob, :value => @keyPartBob, :style => "width:400px;height:130px", :readonly => "true") %>
      
  <hr>
  
  <h2>Part 3 - Creating Two Shared Secrets</h2>
  <p style="width:600px">
    The final step is to establish your two shared secrets, so that you unknowingly to Alice and Bob can read and alter messages without them ever knowing. 
    Muhaha. Evil. So very evil. But first you have to choose a private value for yourself! 
  </p>
    <b>Your private value</b><br>
    <%= text_area(:key, "mimkey", :value => @mimkey, :style => "width:400px;height:130px") %>
  
  <p style="width:600px">
    And finally, create your shared secrets between yourself and your targets. Confirm that you have correctly calculated them by answering the following
    questions 
  </p>
    <b>Which shared secret would you use to send a message to Alice?</b><br>
    <%= text_area(:key, "alice", :value =>@suggestedKeyAlice, :style => "width:400px;height:130px") %>
  
    <br><br>
    
    <b>Which shared secret would you use to read a message from Bob?</b><br>
    <%= text_area(:key, "bob", :value => @suggestedKeyBob, :style => "width:400px;height:130px") %>
    
    <br><br>
    <%= submit_tag("Submit") %>
<% end %>
<br>
<%= @correctKeyAlice.to_s %><br>
<%= @correctKeyBob.to_s %>


