<h1>File Uploaded</h1>
<p>
  <%= @notice %>
</p>
<p>
  <%= @approvedText.html_safe%>
  <br>
  <%=@receipt.html_safe%>
</p>

<p>
  <%= @ApprovalInfo.html_safe %>
</p>

<p>
  <%= link_to "<-- Back", :controller => "upload" %>  
</p>
<p>
  <%= @KeyToolResponse.html_safe %>
</p>

<p>
  <img src="http://imgs.xkcd.com/comics/responsible_behavior.png" />
</p>