<h1>Upload File</h1>
<h2><%= @notice %></h2>
<%= form_tag({:action => "create"}, :multipart => true) do %>
  <p>
    Keystore file (compseckeystore)
    <br>
    <%= file_field(:file, "File") %>
  </p>
  <p>
    Password (compseckeystore)
    <br>
    <%= text_field(:password, "Password")%>
  </p>
  <p>
    STIL-Identity (username)
    <br>
    <%= text_field(:stil, "STIL")%> 
  </p>
    <p>
    Secondary STIL-Identity (when present)
    <br>
    <%= text_field(:stil2, "STIL2")%> 
  </p>

  <%= submit_tag("Upload") %>
<% end %>