<p>
  <h1>Certificate Chains</h1>
  <h2><%= @notice %></h2>
  <%= form_tag({:action => "create"}, :multipart => true) do %>
    <p>
      Keystore file (compseckeystore)
      <br>
      <%= file_field(:file, "File") %>
    </p>
    <p>
      Password (compseckeystore)
      <br>
      <%= text_field(:password, "Password")%>
    </p>
    <p>
      <h3>STIL-Identity #1</h3>
      The one present in the keystore
      <br><br>
      STIL-Identity<br>
      <%= text_field(:stil1, "stil")%><br>
      First name<br> 
      <%= text_field(:stil1, "fName")%><br>
      Last name<br>
      <%= text_field(:stil1, "lName")%><br>
    </p>
    <p>
      <h3>STIL-Identity #2</h3>
      For the second user
      <br><br>
      STIL-Identity<br>
      <%= text_field(:stil2, "stil")%><br>
      First name<br>  
      <%= text_field(:stil2, "fName")%><br>
      Last name<br>
      <%= text_field(:stil2, "lName")%><br>
    </p>
    <br>
    <%= submit_tag("Upload") %>
  <% end %>
</p>

<br><br>

<p>
  <h2>Resources</h2>
  <ul>
    <li><%= link_to("EIT060 Course Webpage", "http://www.eit.lth.se/kurs/eit060")%></li>
    <li><%= link_to("OpenSSL Documentation", "http://www.openssl.org/docs/apps/openssl.html")%></li>
    <li><%= link_to("Keytool Documentation", "http://download.oracle.com/javase/1.3/docs/tooldocs/win32/keytool.html")%></li>
  </ul>
</p>

<p>
  <h2>Known Bugs</h2>
  <ul>
    <li>UTF-8 Encoding is unstable. Please only use the ASCII charset when creating the certificates and keystore 
  </ul>
</p>