<p>
  <%= form_tag(:action => "create") do %>
    <%= hidden_field_tag('un[un]', @username) %>
    <% @parts.each do |linux| %>
      <h1><%= linux.name %></h1>
      $ ls -la<br>
      total <%= linux.length %><br>
      
      <table>
        <% linux.dirs.each do |item| %>
          <tr>
            <% item.attr.each do |attr| %> 
              <td><%= attr %></td>
            <% end %>
            <td><%= 1+rand(5)%></td>
            <td><%= item.owner %></td>
            <td><%= item.group %></td>
            <td><%= 1+rand(10000)%></td>
            <td>Jan 30 22:34</td>
            <td><%= item.name %></td>
          </tr>
        <% end %>
        <% linux.qdb.questions.each do |item| %>
          <tr>
            <% item.attr.each do |attr| %> 
              <td><%= attr %></td>
            <% end %> 
            <td><%= 1+rand(5) %></td>
            <td><%= item.owner %></td>
            <td><%= item.group %></td>
            <td><%= 1+rand(10000) %></td>
            <td>Jan 30 22:34</td>
            <td><%= item.name %></td>
          </tr>
        <% end %>    
      </table>

      <h2>Questions</h2>
        
        <% linux.qdb.questions.each do |item| %>
          <p>
            <%= item.question %><br>
            <%= radio_button(item.name, item.name, true, :checked => item.checked) %>
            <%= label_tag(item.name, "Yes")%>
            <%= radio_button(item.name, item.name, false, :checked => !item.checked) %>
            <%= label_tag(item.name, "No")%>
          </p>
        <% end %>
          
        <% if linux.qdb.nbrCorrect?.to_f/linux.qdb.length > 0.55 then %>
          Correct answers: <%= "#{linux.qdb.nbrCorrect?} out of #{linux.qdb.questions.length}" %><br>
        <% else %>
          Too few or zero correct answers<br>
        <% end %>
  
        
        <br><hr>
      <% end %>
    <%= submit_tag("Submit") %><br>
  <% end %>
  
  <p>
    <b>Status</b><br>
    STIL Identity: <%= @user.username %><br>
    <%= @user.trynbr %> out of 5 tries remaining until reset<br>
    <%= @totalCorrect %> of <%= @total %> correct
  </p>
</p>
