<h1>Windows Security</h1>
<p>
  <%= form_tag(:action => "create") do %>
    <%= hidden_field_tag('un[un]', @username) %>
      <% @files.each do |file| %>
        <h2>File: <%= file.filename %><br></h2>
        <b>DACL contains <%= file.dacl.length %> entries<br></b>
        
        <table border=1>
          <tr>
            <td>
              <table>
                <tr><td><b>ACE Desc.</b></td></tr>
                <tr><td>Type:</td></tr>
                <tr><td>Name:</td></tr>
                <tr><td>Permission:</td></tr>
              </table>
            </td>
            <% index = 1
                file.dacl.each do |ace|
                %>
              <td>
                <table>
                  <tr><td> <b>ACE <%= index %></b></td></tr>
                  <tr><td><%= ace.type %></td></tr>    
                  <tr><td><%= ace.name %></td></tr>
                  <tr><td><%= ace.permission %></td></tr>
                </table>
              </td>
              <% index += 1 %>
            <% end %>
          </tr>
        </table>

        <table border=1>
          <tr>
            <td>
              <table>
                <tr><td><b>Token Desc.</b></td></tr>
                <tr><td>User SID:</td></tr>
                <tr><td>Group SIDs:</td></tr>
                <tr><td>Restricted SIDs:</td></tr>
              </table>
            </td>
            <% index = 1
                file.tokens.each do |token|
                %>
              <td>
                <table>
                  <tr><td><b>Token <%= index %></b></td></tr>
                  <tr><td><%= token.user %></td></tr>    
                  <tr><td><%= token.groups.join(", ") %></td></tr>
                  <tr><td><%= token.restrictedsid %></td></tr>
                </table>
              </td>
              <% index += 1 %>
            <% end %>
          </tr>
        </table>        
      
        <h2>Questions</h2>
          <% file.questions.each do |item| %>
            <p>
              <%= item.question %><br>
              <%= radio_button(item.name, item.name, true, :checked => item.checked) %>
              <%= label_tag(item.name, "Yes")%>
              <%= radio_button(item.name, item.name, false, :checked => !item.checked) %>
              <%= label_tag(item.name, "No")%>
            </p>
          <% end %>
          <hr><br>
      <% end %>
    <%= submit_tag("Submit") %><br>
  <% end %>      

<br>
<p>
  <p>
    <b>Status</b><br>
    STIL Identity: <%= @username %><br>
    <%= @correct %> of <%= @total %> correct
  </p>
  <% if @correct == @total then %>
  CONGRATS ALL CORRECT
  <% end %>
  
</p>
