<p>
  <%= form_tag(:action => "create") do %>
    <%= hidden_field_tag('un[un]', @username) %>
      <% @files.each do |file| %>
        <h2>File: <%= file.filename %><br></h2>
        <b>DACL contains <%= file.dacl.length %> entries<br></b>
        
        <table>
          <tr>
            <td>
              <table>
                <tr><td><b>ACE Description</b></td></tr>
                <tr><td>Type:</td></tr>
                <tr><td>Name:</td></tr>
                <tr><td>Permission:</td></tr>
              </table>
            </td>
            <% index = 1
                file.dacl.each do |ace|
                %>
              <td>
                <table>
                  <tr><td> <b>ACE <%= index %></b></td></tr>
                  <tr><td><%= ace.type %></td></tr>    
                  <tr><td><%= ace.name %></td></tr>
                  <tr><td><%= ace.permission %></td></tr>
                </table>
              </td>
              <% index += 1 %>
            <% end %>
          </tr>
        </table>
      
        <h2>Questions</h2>
          <% file.questions.each do |item| %>
            <p>
              <%= item.question %><br>
              <%= radio_button(item.name, item.name, true, :checked => item.checked) %>
              <%= label_tag(item.name, "Yes")%>
              <%= radio_button(item.name, item.name, false, :checked => !item.checked) %>
              <%= label_tag(item.name, "No")%>
            </p>
          <% end %>
          <hr><br>
      <% end %>
    <%= submit_tag("Submit") %><br>
  <% end %>      

<br>
<p>
  Total: <%= @total %><br>
  Correct: <%= @correct %><br>
  <% if @correct == @total then %>
  CONGRATS ALL CORRECT
  <% end %>
  
</p>
