<h1>Listing studentusers</h1>

<table>
  <tr>
    <th>Stil</th>
    <th>Project0</th>
    <th>Project1</th>
    <th>Project2</th>
    <th>Project3</th>
    <th>Project4</th>
    <th>Project5</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studentusers.each do |studentuser| %>
  <tr>
    <td><%= studentuser.stil %></td>
    <td><%= studentuser.project0 %></td>
    <td><%= studentuser.project1 %></td>
    <td><%= studentuser.project2 %></td>
    <td><%= studentuser.project3 %></td>
    <td><%= studentuser.project4 %></td>
    <td><%= studentuser.project5 %></td>
    <td><%= link_to 'Show', studentuser %></td>
    <td><%= link_to 'Edit', edit_studentuser_path(studentuser) %></td>
    <td><%= link_to 'Destroy', studentuser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studentuser', new_studentuser_path %>
