<h1>Listing studentusers</h1>

<table border=1>
  <tr>
    <th>Stil</th>
    <th>Certificates</th>
    <th>Tracker</th>
    <th>Linux AC</th>
    <th>DH MITM</th>
    <th>Windows AC</th>
    <th>Bell-LaPadula</th>
    <th>Total</th>
    <th></th>
  </tr>

<% @studentusers.each do |studentuser| %>
  <tr>
    <td><%= studentuser.stil %></td>
    <td><%= studentuser.project0 %></td>
    <td><%= studentuser.project1 %></td>
    <td><%= studentuser.project2 %></td>
    <td><%= studentuser.project3 %></td>
    <td><%= studentuser.project4 %></td>
    <td><%= studentuser.project5 %></td>
    <td><%= studentuser.project0 && studentuser.project1 && studentuser.project2 && studentuser.project3 && studentuser.project4 && studentuser.project5  %></td>
    <td><%= link_to 'Destroy', studentuser, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studentuser', new_studentuser_path %>
