<p id="notice"><%= notice %></p>

<p>
  <b>Stil:</b>
  <%= @studentuser.stil %>
</p>

<p>
  <b>Project0:</b>
  <%= @studentuser.project0 %>
</p>

<p>
  <b>Project1:</b>
  <%= @studentuser.project1 %>
</p>

<p>
  <b>Project2:</b>
  <%= @studentuser.project2 %>
</p>

<p>
  <b>Project3:</b>
  <%= @studentuser.project3 %>
</p>

<p>
  <b>Project4:</b>
  <%= @studentuser.project4 %>
</p>

<p>
  <b>Project5:</b>
  <%= @studentuser.project5 %>
</p>


<%= link_to 'Edit', edit_studentuser_path(@studentuser) %> |
<%= link_to 'Back', studentusers_path %>
